export(LoadPDB,
       ReadPDB,
       ProteinAlign,
       Norm,
       SvdNew,
       PAMLogLik,
       LogLikMatch,
       mclapply.win,
       EMSizeShape,
       GpaC,
       RiemdistC,
       VectorHelmertC,
       RMSD,
       SimilarityMetrics,
       SimilarityTransf,
       SpChoose
)

import(parallel)
importFrom(clue,"solve_LSAP")
importFrom("methods", "slot")
importFrom("stats", "dist")
import(Biostrings)
import(msa)

useDynLib(shapealign)
