export(log.lik.nodD,
     data_extract,
     amino_transf,
     readpdb,
     readdata,
     match.pair_C,
     norm,
     svd.m_new,
     PAM_log_lik,
     lik.match.gapC,
     gap_penalty,
     mclapply.win,
     EM_C,
     gpa_C
)

importFrom(parallel, "mclapply")
importFrom(clue,"solve_LSAP")
import(Biostrings)
import(msa)

useDynLib(shapealign)
